<nav class="navbar-light main-navbar">
  <nav class="navbar navbar-expand-sm" style="max-width: 800px; margin: 0 auto;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rob Koch</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMenu"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseMenu">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="/photos">Photos</a>
        <a class="nav-link" href="/resume">Résumé</a>
        <a class="nav-link" href="/">Blog</a>
      </div>
    </div>
  </nav>
</nav>