<div class="education-container container-block">
  <h2 class="container-block-title">Education</h2>
  <div class="item">
    <h4 class="degree">BS in Computer Science</h4>
    <h5 class="meta">Miami University</h5>
    <!--<div class="time">2017</div>-->
  </div>
  <!--//item-->

  <div class="item">
    <h4 class="degree">BA in Psychology</h4>
    <h5 class="meta">Miami University</h5>
    <!--<div class="time">2012</div>-->
  </div>
  <!--//item-->
  <div class="item">
    Two bacherlor's degrees, which basically sums to having a doctorate I think
  </div>
</div>
<!--//education-container-->
