<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
    
    {% for experience in page.experiences %}
    <div class="item">
        <div class="meta">
            
            {% if site.light %}

            {% else %}
                {% if experience.img %}
                    <div class="img-wrapper">
                        <img src="/assets/images/{{ experience.img }}">
                    </div>
                {% endif %}
            {% endif %}

            <div class="row-wrapper">
                <div class="upper-row">
                    <h3 class="job-title">{{ experience.title }}</h3>
                    <div class="time">{{ experience.time }}</div>
                </div><!--//upper-row-->
                
                <div class="company">
                    {% if experience.url %}<a href="{{ experience.url }}"> {% endif %}
                    {{ experience.company }}{% if experience.url %}</a>{% endif %} - {{ experience.location }}
                </div>
            </div>

        </div><!--//meta-->

        <div class="details">
            {% for sub in experience.details %}
                <p>{{ sub }}</p>
                {% if experience.images %}
                    {% if experience.images[forloop.index] %}
                        <img src="/assets/images/{{ experience.images[forloop.index] }}">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div><!--//details-->

    </div><!--//item-->
    {% endfor %}

</section><!--//section-->