{% if site.light %}{% else %}
<div class="d-flex flex-row mb-2">
  <div class="ml-auto">
    <a class="btn btn-sm btn-secondary py-0" href="/resume.pdf"><i class="fa fa-file-pdf-o mr-2"></i>PDF</a>
    <a class="btn btn-sm btn-secondary py-0 ml-1" href="https://cascade.page"><i class="fas fa-stream mr-2"></i>Timeline</a>
  </div>
</div>
{% endif %}
<section class="section experiences-section">
    {% for experience in page.experiences %}
    <div class="item">
        <div class="meta">
            {% if experience.img %}
                <div class="img-wrapper">
                    <img src="{{ experience.img }}">
                </div>
            {% endif %}
            <div class="row-wrapper">
                <div class="upper-row">
                    <h3 class="job-title text-light">{{ experience.title }}</h3>
                    <div class="time">{{ experience.time }}</div>
                </div><!--//upper-row-->
                
                <div class="company">
                    {% if experience.url %}<a href="{{ experience.url }}"> {% endif %}
                    {{ experience.company }}{% if experience.url %}</a>{% endif %} - {{ experience.location }}
                </div>
            </div>

        </div><!--//meta-->

        <div class="details">
            {% for sub in experience.details %}
                <p>{{ sub }}</p>
                {% if experience.images %}
                    {% if experience.images[forloop.index] %}
                        <img src="/assets/images/{{ experience.images[forloop.index] }}">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div><!--//details-->

    </div><!--//item-->
    {% endfor %}

</section><!--//section-->