<head>
  <title>{{page.title}}</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Rob Koch's personal website">
  <meta name="og:image" content="https://api.sw.ink/v0/swink?url=https://robko.ch/&key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGFpbXMiOlsicXI6bGluazpodHRwczovL3JvYmtvLmNoLyJdLCJpYXQiOjE2MjE1NTY3NDAsImF1ZCI6ImFwaS5xci5uZXciLCJzdWIiOiJRMlJOYUpLMExxZndsSExLVWVNSzByUXhwNjUzIiwianRpIjoiQ3BKN0dRbDN2R2h1OFpnUE1ERkYifQ.79nmKRgf_zt7qVECgDATF25eproA3S5LKFNwA6NAOMk"/>
  <meta name="qr:innerText" content="{{page.title}}" />
  <link rel="shortcut icon" href="/favicon.ico">  
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
  <script src="https://kit.fontawesome.com/1a20937739.js" crossorigin="anonymous"></script>
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
  <!-- Theme CSS -->  
  <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/assets/css/{% if site.style %}{{ site.style}}.css{% else %}styles.css{% endif %}">
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ba9d1866bd0e4b30af60c1be9ee36d51"}'></script><!-- End Cloudflare Web Analytics -->
  <!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/open-color.css"> -->
</head> 