<div class="container shadow pt-2 mb-3 d-flex flex-column info-banner info-banner-{% if include.style %}{{ include.style }}{% else %}blue{% endif %}">
  <div>
    <div class="banner-title py-1">
      <p class="m-0"><em>{% if include.fontAwesome %}<span><i class="{{ include.fontAwesome }}"></i></span> {% endif %}{{ include.title }}</em></p>
    </div>
    {% if include.subtitle %}
    <h6 class="banner-subtitle">{{ include.subtitle }}</h6>
    {% endif %}
  </div>
  <div class="banner-content">{{ include.content | markdownify }}</div>
</div>