<div class="main-container-wide container">
  <div class="row">
    <div class="col-lg-2 col-md-3 mt-5 ">
      <div class='sticky-section d-flex flex-column'>
        <div class="navbar-header">
          <a class="navbar-brand text-white p-0" href="/">Rob Koch</a>
        </div>
        <p class="pt-2 mb-2">Working on <a href="https://markwhen.com">markwhen.com</a></p>
        <a class="mb-2 mt-2" href="https://github.com/kochrt">Github</a>
        <a class="mb-2" href="/resume">Résumé</a>
        <a class="mb-4" href="/resume.pdf">Résumé pdf</a>
        <a class="mb-2" href="https://markwhen.com">markwhen.com</a>
        <a class="mb-2" href="https://thelistofcompanies.com">thelistofcompanies.com</a>
        <a class="mb-2" href="https://imnew.to">imnew.to</a>
        <a class="mb-2" href="/qr-designer">QR designer</a>
      </div>
    </div>
    <div class="col-lg-8 col-md-9 posts px-0 mt-5">
      {% for post in site.posts %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% if forloop.first %}
      <h4 class="title-year mx-3 text-light" id="{{ this_year }}-ref">{{this_year}}</h4>
      {% endif %}
      {% include postrow.html %}
      {% if this_year != next_year %}
      <h4 class="title-year mx-3 mt-5 text-light" id="{{ next_year }}-ref">{{next_year}}</h4>
      {% endif %}
      {% endfor %}
    </div>
    <div class="col-lg-2 col-md-0"></div>
  </div>
</div>
</div>