<div class="post-row bg-dark pt-3 pb-4 mb-0">
  <div>
    <div class="post-row-header mx-3">
      <div class="title-container">
        <p class="m-0">
          <a class="link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
          <br>
        </p>
      </div>
      <div class="date">
        <small class="m-0 text-dark-secondary">{{ post.date | date: "%b %-d, %Y" }}</small>
      </div>
    </div>
    {% if post.tags.size > 0 %}
    <div class="tag-list mx-3 mt-1">
      {% for tag in post.tags %}
      {% include tag.html tag=tag %}
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% if post.excerpt.size > 0 %}
  <p class="excerpt mx-3 text-dark-secondary {% if post.tags.size > 0 %}mt-2{% endif %}">{{ post.excerpt }}</p>
  {% endif %}

  {% if post.travel %}
  <div class="px-3 post-img-row pt-2">
    {% for stop in post.travel %}
    {% for item in stop.items %}
    {% if item.img %}
    <a href="{{ post.url }}"><img class="mr-2" src="{{ item.img | split: '=w' | first | append: '=w400' }}"></a>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  {% endif %}
</div>