<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    
    {% for proj in page.projects %}
        
        <div class="itemrow">
            {% if site.light %}

            {% else %}
                {% if proj.img %}
                    {% if proj.url %}
                        <a href="{{ proj.url }}" target="_blank">
                            <img src="/assets/images/{{ proj.img }}.png">
                        </a>
                    {% else %}
                        <img src="/assets/images/{{ proj.img }}.png">
                    {% endif %}
                {% endif %}
            {% endif %}
            
            <div class="item">
                <span class="project-title">
                    {% if proj.url %}
                        <a href="{{ proj.url }}" target="_blank">{{ proj.label }}</a>
                    {% else %}
                        {{ proj.label }}
                    {% endif %}
                </span> - <span class="project-tagline">{{ proj.details }}</span>
            </div>

            {% if site.light %}

            {% else %}
                {% if proj.stack %}
                <div class="item-stack">
                    {% for tech in proj.stack %}
                        <div class="tech">
                            <div>
                                <img src="/assets/images/{{ tech[0] }}" alt="{{ tech[1] }}">
                                <span class="tooltip">{{ tech[1] }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}

    </div>
        
    {% endfor %}

</section><!--//section-->