{% if include.item.img %}
  {% include stop_image.html img=include.item.img caption=include.item.caption %}
{% elsif include.item.text %}
<div class="main-container">
  <p>{{ include.item.text | markdownify }}</p>
</div>
{% elsif include.item.imgComp %}
<div class="container-fluid row m-auto p-0" style="max-width: 1400px;">
  <div class="col-lg-6">
    <img class="rounded" loading="lazy" src="{{ item.imgComp.img1 | split: '=w' | first | append: '=w2000' }}" style="width: 100%">
  </div>
  <div class="col-lg-6">
    <img class="rounded" loading="lazy" src="{{ item.imgComp.img2 | split: '=w' | first | append: '=w2000' }}" style="width: 100%">
  </div>
</div>
{% endif %}